<link rel="shortcut icon" type="image/x-icon" href="/img/lujiang.ico" media="screen" />
<%- include('common/header') %>
<%- include('common/nav') %>


<div class="row pdt120">
  <div class="col-sm-12">
      <%= result.title%>
  </div>
    <div class="col-sm-12">
      <%= result.abstract%>
    </div>
    <div class="col-sm-12">
      <%= result.content%>
    </div>
</div>
<%- include('common/footer') %>