<link rel="shortcut icon" type="image/x-icon" href="/img/lujiang.ico" media="screen" />
<%- include('common/header') %>
<%- include('common/nav') %>

<div class="pdlr20 pdt80 pl">
  <h1 class="text-center c6">
      <%= result.title%>
  </h1>
  <h5 class="text-center pd10 c9">
    作者: <%= result.author%>
  </h5>
  <div class="c6">
    <%- result.content%>
  </div>

  <a class="opBlog modify cf" href="/home/modify?id=<%= result._id%>">编辑</a>
  <a id="delete" class="opBlog delete cf" href="/home/delete?id=<%= result._id%>">删除</a>
</div>

<script src="/js/blog.js"></script>
<%- include('common/popup') %>
<%- include('common/footer') %>