<link rel="shortcut icon" type="image/x-icon" href="/img/lujiang.ico" media="screen" />
<%- include('common/header') %>
<%- include('common/nav') %>


<div class="row pdt120">
  <div class="col-xs-3 col-sm-3">
    <ul class="list-unstyled text-center">
      <li class="avator">
        <a><img width="100" src="" onerror="this.src='/img/default_avator.png'"/></a>
      </li>
      <li class="mgt20 gray"><%= username%>  <span class="glyphicon glyphicon-user"></span></li>
      <li class="mgt20">
        <a href="/home/newblog">
          <button type="button" class="btn btn-success">写博客</button>
        </a>
      </li>
      <li></li>
    </ul>
  </div>
  <div class="col-xs-9 col-sm-9">
    <% if (!result.length) {%>
      <p class="text-center c9 lh100"><span class="glyphicon glyphicon-question-sign"></span>  暂无博客</p>
    <%}%>
    <ul class="list-unstyled article-list">
    <% for(var i= 0, len=result.length; i<len; i++) {
      var blog = result[i];
    %>
      <li>
        <div class="page-header">
          <h5>
            <a href="/home/article?id=<%= blog._id%>"><span class="glyphicon glyphicon-link"></span>  <%= blog.title%></a>
          </h5>
          <p><small class="c9">作者: <%= blog.author%></small></p>
          <p class="ellipse c6"><small>摘要: <%= blog.abstract%></small></p>
        </div>
      </li>
    <%}%>
    </ul>
  </div>
</div>
<%- include('common/footer') %>